In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [4]:
df_cars=pd.read_csv("car_prices.csv")
df_cars

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [17]:
df_cars["year"].value_counts().sort_index(ascending=False)

year
2015      9437
2014     81070
2013     98168
2012    102315
2011     48548
2010     26485
2009     20594
2008     31502
2007     30845
2006     26913
2005     21394
2004     17342
2003     13281
2002      9715
2001      6468
2000      5227
1999      3363
1998      2149
1997      1546
1996       851
1995       711
1994       392
1993       205
1992       132
1991        67
1990        49
1989        20
1988        11
1987         8
1986        11
1985        10
1984         5
1983         1
1982         2
Name: count, dtype: int64

In [188]:
df_cars['body'] = df_cars['body'].astype(str).str.lower().str.strip()
df_cars

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,suv,automatic,5xyktca69fg566472,ca,5,"16,639",white,black,kia motors america inc,"20,500","21,500",Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,suv,automatic,5xyktca69fg561319,ca,5,"9,393",white,beige,kia motors america inc,"20,800","21,500",Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,sedan,automatic,wba3c1c51ek116351,ca,45,"1,331",gray,black,financial services remarketing (lease),"31,900","30,000",Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,sedan,automatic,yv1612tb4f1310987,ca,41,"14,282",white,black,volvo na rep/world omni,"27,500","27,750",Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,sedan,automatic,wba6b2c57ed129731,ca,43,"2,641",gray,black,financial services remarketing (lease),"66,000","67,000",Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,sedan,NaN,knalw4d4xf6019304,in,45,"18,255",silver,black,avis corporation,"35,300","33,000",Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,crew cab,automatic,3c6td5et6cg112407,wa,5,"54,393",white,black,i -5 uhlmann rv,"30,200","30,800",Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,suv,automatic,5uxzw0c58cl668465,ca,48,"50,561",black,black,financial services remarketing (lease),"29,800","34,000",Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38,"16,658",white,black,enterprise vehicle exchange / tra / rental / t...,"15,100","11,100",Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,supercrew,automatic,1ftfw1et2eke87277,ca,34,"15,008",gray,gray,ford motor credit company llc pd,"29,600","26,700",Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [189]:
df_cars['body']=df_cars['body'].str.capitalize()

In [190]:
df_cars['transmission'].unique()

array(['automatic', nan, 'manual', 'Sedan', 'sedan'], dtype=object)

In [191]:
df_cars['transmission'] = df_cars['transmission'].astype(str).str.lower().str.strip()

In [192]:
#df_cars['make'] = df_cars['make'].astype(str).str.lower().str.strip()

In [193]:
df_cars['make']=df_cars['make'].str.capitalize()

In [194]:
df_cars['make'].replace(['Vw','Mercedes-Benz','Mercedes-b','Mercedes-benz'],["Volkswagen","Mercedes",'Mercedes',"Mercedes"],inplace=True)

C:\Users\ojasv\AppData\Local\Temp\ipykernel_3948\4256941867.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars['make'].replace(['Vw','Mercedes-Benz','Mercedes-b','Mercedes-benz'],["Volkswagen","Mercedes",'Mercedes',"Mercedes"],inplace=True)

In [195]:
df_cars=df_cars[df_cars["state"].str.len()<3]

In [196]:
#[print(f"{x}: {df_cars[x].unique()}")for x in df_cars.columns]

In [197]:
#[df_cars[x].value_counts()for x in df_cars.columns]

In [198]:
#df_cars[(df_cars["body"]=='sedan') & (df_cars["make"]=='chevrolet')]

In [199]:
df_cars["make"].unique()

array(['Kia', 'Bmw', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
       'Jeep', 'Mercedes', 'Mitsubishi', 'Mazda', 'Mini', 'Land rover',
       'Lincoln', 'Jaguar', 'Volkswagen', 'Toyota', 'Subaru', 'Scion',
       'Porsche', nan, 'Dodge', 'Fiat', 'Chrysler', 'Ferrari', 'Honda',
       'Gmc', 'Ram', 'Smart', 'Bentley', 'Pontiac', 'Saturn', 'Maserati',
       'Mercury', 'Hummer', 'Landrover', 'Gmc truck', 'Saab', 'Suzuki',
       'Oldsmobile', 'Isuzu', 'Dodge tk', 'Geo', 'Rolls-royce',
       'Mazda tk', 'Hyundai tk', 'Daewoo', 'Chev truck', 'Ford tk',
       'Plymouth', 'Ford truck', 'Tesla', 'Airstream', 'Dot',
       'Aston martin', 'Fisker', 'Lamborghini', 'Lotus'], dtype=object)

*Highest Revenues*

In [200]:
g=df_cars.groupby("make")

In [201]:
ls={x[0]:x[1]['sellingprice'].sum() for x in g}

In [202]:
df_revenues=pd.DataFrame(ls.items(), columns=["make","revenue"]).set_index("make").sort_values("revenue", ascending=False)

In [203]:
df_revenues["revenue"] = df_revenues["revenue"].round(0)
pd.options.display.float_format = '{:,.0f}'.format

In [204]:
df_revenues

                 revenue
make
Ford       1,362,577,082
Chevrolet    723,369,949
Nissan       633,703,805
Toyota       489,089,925
Bmw          446,509,513
...                  ...
Chev truck         2,000
Ford truck         1,450
Daewoo             1,200
Dodge tk             550
Dot                  500

[63 rows x 1 columns]

*Driving factor*

In [205]:
counts={x[0]:x[1]['vin'].count() for x in g}

In [206]:
sale_df=pd.DataFrame(counts.items(),columns=["make","sale(no of cars)"]).set_index("make")

In [207]:
driving_df=pd.merge(df_revenues,sale_df,on="make")

In [208]:
driving_df

                 revenue  sale(no of cars)
make
Ford       1,362,577,082             93997
Chevrolet    723,369,949             60587
Nissan       633,703,805             54017
Toyota       489,089,925             39966
Bmw          446,509,513             20793
...                  ...               ...
Chev truck         2,000                 1
Ford truck         1,450                 3
Daewoo             1,200                 3
Dodge tk             550                 1
Dot                  500                 1

[63 rows x 2 columns]

*states contribute*

In [243]:
state_group=df_cars.groupby("state")

In [244]:
state_rev={x[0]:x[1]["sellingprice"].sum() for x in state_group}

In [245]:
total_state_sale_df=pd.DataFrame(state_rev.items(),columns=["state","total_sales"]).set_index("state").sort_values("total_sales",ascending=False)

In [246]:
no_of_cars={x[0]:x[1]['vin'].count()for x in state_group}

In [247]:
cars_state_df=pd.DataFrame(no_of_cars.items(),columns=["state","no_of_cars"]).set_index("state")

In [248]:
cars_state_df=pd.merge(total_state_sale_df,cars_state_df,on="state")

In [249]:
df_cars["state"].unique()

array(['California', 'Texas', 'Pennsylvania', 'Minnesota', 'Arizona',
       'Wisconsin', 'Tennessee', 'Maryland', 'Florida', 'Nebraska',
       'New Jersey', 'Nevada', 'Ohio', 'Michigan', 'Georgia', 'Virginia',
       'South Carolina', 'North Carolina', 'Indiana', 'Illinois',
       'Colorado', 'Utah', 'Missouri', 'New York', 'Massachusetts',
       'Puerto Rico', 'Oregon', 'Louisiana', 'Washington', 'Hawaii',
       'Quebec', 'Alberta', 'Ontario', 'Oklahoma', 'Mississippi',
       'New Mexico', 'Alabama', 'Nova Scotia'], dtype=object)

In [250]:
state_dict = {
    "ca": "California",
    "tx": "Texas",
    "pa": "Pennsylvania",
    "mn": "Minnesota",
    "az": "Arizona",
    "wi": "Wisconsin",
    "tn": "Tennessee",
    "md": "Maryland",
    "fl": "Florida",
    "ne": "Nebraska",
    "nj": "New Jersey",
    "nv": "Nevada",
    "oh": "Ohio",
    "mi": "Michigan",
    "ga": "Georgia",
    "va": "Virginia",
    "sc": "South Carolina",
    "nc": "North Carolina",
    "in": "Indiana",
    "il": "Illinois",
    "co": "Colorado",
    "ut": "Utah",
    "mo": "Missouri",
    "ny": "New York",
    "ma": "Massachusetts",
    "or": "Oregon",
    "la": "Louisiana",
    "wa": "Washington",
    "hi": "Hawaii",
    "ok": "Oklahoma",
    "ms": "Mississippi",
    "nm": "New Mexico",
    "al": "Alabama",
    "pr": "Puerto Rico",
    "qc": "Quebec",          # Canada
    "ab": "Alberta",        # Canada
    "on": "Ontario",        # Canada
    "ns": "Nova Scotia"     # Canada
}

In [251]:
df_cars["state"].replace(state_dict,inplace=True)

C:\Users\ojasv\AppData\Local\Temp\ipykernel_3948\2063424950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cars["state"].replace(state_dict,inplace=True)

In [253]:
cars_state_df["avg_val"]=cars_state_df["total_sales"]/cars_state_df["no_of_cars"]
cars_state_df.sort_values("avg_val",ascending=False)

                 total_sales  no_of_cars  avg_val
state
Ontario           61,311,050        3442   17,813
Tennessee        355,418,608       20895   17,010
Pennsylvania     861,234,573       53907   15,976
Colorado         123,449,885        7775   15,878
Nevada           191,515,238       12685   15,098
Michigan         230,900,127       15511   14,886
Illinois         347,290,026       23486   14,787
California     1,061,077,777       73148   14,506
Missouri         231,647,138       16013   14,466
Ohio             310,822,810       21575   14,407
Wisconsin        137,948,766        9851   14,004
Washington       103,419,009        7416   13,945
Florida        1,151,064,556       82945   13,877
Minnesota        129,254,486        9429   13,708
New Jersey       378,115,350       27784   13,609
Quebec            16,549,750        1245   13,293
Texas            606,495,361       45913   13,210
Georgia          448,927,414       34750   12,919
Nebraska          50,455,275        4013   12,573
Hawaii            15,080,050        1237   12,191
Utah              22,152,489        1836   12,066
Oregon            13,350,050        1155   11,558
Arizona          100,910,470        8741   11,544
New York          64,823,485        5699   11,375
Mississippi       20,812,885        1851   11,244
Alberta           10,367,650         928   11,172
Indiana           46,344,850        4325   10,716
Louisiana         23,052,863        2191   10,522
South Carolina    43,896,558        4251   10,326
Nova Scotia          623,000          61   10,213
Puerto Rico       25,644,350        2725    9,411
Alabama              237,700          26    9,142
North Carolina   189,198,593       21845    8,661
Virginia         103,111,220       12027    8,573
Maryland          82,670,625       11158    7,409
Oklahoma             498,100          72    6,918
Massachusetts     45,264,250        6729    6,727
New Mexico         1,075,900         171    6,292

In [259]:
state_players={x[0]:x[1]["make"].value_counts() for x in state_group}

In [262]:
df=pd.DataFrame(state_players)

In [266]:
big_player={}
for col in df.columns:
    big_player[col]={
         "idx_max": df[col].idxmax(),
        "max_no": df[col].max()
    }

In [267]:
pd.DataFrame(big_player)

,Alabama,Alberta,Arizona,California,Colorado,Florida,Georgia,Hawaii,Illinois,Indiana,...,Pennsylvania,Puerto Rico,Quebec,South Carolina,Tennessee,Texas,Utah,Virginia,Washington,Wisconsin
idx_max,Ford,Ford,Chevrolet,Ford,Ford,Ford,Ford,Ford,Ford,Chevrolet,...,Ford,Toyota,Ford,Chevrolet,Ford,Ford,Ford,Ford,Ford,Chevrolet
max_value,6,245,"1,392","8,906","1,535","10,731","5,091",197,"5,717",802,...,"6,448",536,417,764,"5,306","9,575",484,"1,542","1,117","1,425"