In [18]:
import numpy as np
import pandas as pd
import matplotlib as plt
from datetime import datetime

In [189]:
pd.options.display.float_format = "{:.3f}".format

In [10]:
df_cars=pd.read_csv("car_prices.csv")
df_cars

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [11]:
df_cars["year"].value_counts().sort_index(ascending=False)

year
2015      9437
2014     81070
2013     98168
2012    102315
2011     48548
2010     26485
2009     20594
2008     31502
2007     30845
2006     26913
2005     21394
2004     17342
2003     13281
2002      9715
2001      6468
2000      5227
1999      3363
1998      2149
1997      1546
1996       851
1995       711
1994       392
1993       205
1992       132
1991        67
1990        49
1989        20
1988        11
1987         8
1986        11
1985        10
1984         5
1983         1
1982         2
Name: count, dtype: int64

In [116]:
state_dict = {
    "ca": "California",
    "tx": "Texas",
    "pa": "Pennsylvania",
    "mn": "Minnesota",
    "az": "Arizona",
    "wi": "Wisconsin",
    "tn": "Tennessee",
    "md": "Maryland",
    "fl": "Florida",
    "ne": "Nebraska",
    "nj": "New Jersey",
    "nv": "Nevada",
    "oh": "Ohio",
    "mi": "Michigan",
    "ga": "Georgia",
    "va": "Virginia",
    "sc": "South Carolina",
    "nc": "North Carolina",
    "in": "Indiana",
    "il": "Illinois",
    "co": "Colorado",
    "ut": "Utah",
    "mo": "Missouri",
    "ny": "New York",
    "ma": "Massachusetts",
    "or": "Oregon",
    "la": "Louisiana",
    "wa": "Washington",
    "hi": "Hawaii",
    "ok": "Oklahoma",
    "ms": "Mississippi",
    "nm": "New Mexico",
    "al": "Alabama",
    "pr": "Puerto Rico",
    "qc": "Quebec",          # Canada
    "ab": "Alberta",        # Canada
    "on": "Ontario",        # Canada
    "ns": "Nova Scotia"     # Canada
}

In [13]:
df_cars['body'] = df_cars['body'].astype(str).str.lower().str.strip()
df_cars['body']=df_cars['body'].str.capitalize()
df_cars['transmission'] = df_cars['transmission'].astype(str).str.lower().str.strip()
df_cars['make'] = df_cars['make'].astype(str).str.lower().str.strip()
df_cars['make'] = df_cars['make'].str.capitalize()
df_cars['make'].replace(['Vw','Mercedes-Benz','Mercedes-b','Mercedes-benz'],["Volkswagen","Mercedes",'Mercedes',"Mercedes"],inplace=True)
df_cars.loc[:, "state"] = df_cars["state"].replace(state_dict)
df_cars

C:\Users\ojasv\AppData\Local\Temp\ipykernel_20440\2582036883.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars['make'].replace(['Vw','Mercedes-Benz','Mercedes-b','Mercedes-benz'],["Volkswagen","Mercedes",'Mercedes',"Mercedes"],inplace=True)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,Suv,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,Suv,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,Bmw,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,Bmw,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,nan,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,Bmw,X5,xDrive35d,Suv,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,Supercrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [14]:
df_cars['transmission'].unique()

array(['automatic', 'nan', 'manual', 'sedan'], dtype=object)

In [15]:
df_cars=df_cars[df_cars["state"].str.len()<3]

In [196]:
#[print(f"{x}: {df_cars[x].unique()}")for x in df_cars.columns]

In [197]:
#[df_cars[x].value_counts()for x in df_cars.columns]

In [198]:
#df_cars[(df_cars["body"]=='sedan') & (df_cars["make"]=='chevrolet')]

In [16]:
#df_cars["make"].unique()

array(['Kia', 'Bmw', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
       'Jeep', 'Mercedes', 'Mitsubishi', 'Mazda', 'Mini', 'Land rover',
       'Lincoln', 'Jaguar', 'Volkswagen', 'Toyota', 'Subaru', 'Scion',
       'Porsche', 'Nan', 'Dodge', 'Fiat', 'Chrysler', 'Ferrari', 'Honda',
       'Gmc', 'Ram', 'Smart', 'Bentley', 'Pontiac', 'Saturn', 'Maserati',
       'Mercury', 'Hummer', 'Landrover', 'Gmc truck', 'Saab', 'Suzuki',
       'Oldsmobile', 'Isuzu', 'Dodge tk', 'Geo', 'Rolls-royce',
       'Mazda tk', 'Hyundai tk', 'Daewoo', 'Chev truck', 'Ford tk',
       'Plymouth', 'Ford truck', 'Tesla', 'Airstream', 'Dot',
       'Aston martin', 'Fisker', 'Lamborghini', 'Lotus'], dtype=object)

*saledate*

In [26]:
df_cars=df_cars.dropna(subset=["saledate"])

In [28]:
df_cars["saledate"]=df_cars["saledate"].apply(
    lambda x: datetime.strptime(
        x[:24], "%a %b %d %Y %H:%M:%S"
    ).date()
)

In [34]:
df_cars["saledate"] = pd.to_datetime(df_cars["saledate"])

In [37]:
df_cars=df_cars[df_cars["year"]<=df_cars["saledate"].dt.year]

In [151]:
df_cars=df_cars.reset_index()
df_cars=df_cars.drop("index",axis=1)

*Highest Revenues*

In [51]:
g=df_cars.groupby("make")

In [52]:
ls={x[0]:x[1]['sellingprice'].sum() for x in g}

In [53]:
df_revenues=pd.DataFrame(ls.items(), columns=["make","revenue"]).set_index("make").sort_values("revenue", ascending=False)

In [54]:
df_revenues["revenue"] = df_revenues["revenue"].round(0)
pd.options.display.float_format = '{:,.0f}'.format

In [55]:
df_revenues

                 revenue
make
Ford       1,362,430,882
Chevrolet    721,250,499
Nissan       633,524,255
Toyota       489,089,925
Bmw          445,873,713
...                  ...
Chev truck         2,000
Ford truck         1,450
Daewoo             1,200
Dodge tk             550
Dot                  500

[64 rows x 1 columns]

*Driving factor*

In [56]:
counts={x[0]:x[1]['vin'].count() for x in g}

In [57]:
sale_df=pd.DataFrame(counts.items(),columns=["make","sale(no of cars)"]).set_index("make")

In [58]:
driving_df=pd.merge(df_revenues,sale_df,on="make")

In [59]:
driving_df

                 revenue  sale(no of cars)
make
Ford       1,362,430,882             93988
Chevrolet    721,250,499             60536
Nissan       633,524,255             54001
Toyota       489,089,925             39966
Bmw          445,873,713             20772
...                  ...               ...
Chev truck         2,000                 1
Ford truck         1,450                 3
Daewoo             1,200                 3
Dodge tk             550                 1
Dot                  500                 1

[64 rows x 2 columns]

*states contribute*

In [103]:
state_brand_df=df_cars.groupby(["state", "make"],as_index=False)["sellingprice"].sum()

In [130]:
state_brand_no_df=(df_cars.groupby(["state","make"],as_index=False).size().rename(columns={"size": "units_sold"}))

In [131]:
state_brand_no_df

          state        make  units_sold
0       Alabama       Buick           1
1       Alabama   Chevrolet           5
2       Alabama       Dodge           4
3       Alabama        Ford           6
4       Alabama    Infiniti           2
...         ...         ...         ...
1544  Wisconsin      Subaru          83
1545  Wisconsin      Suzuki           5
1546  Wisconsin      Toyota         849
1547  Wisconsin  Volkswagen         137
1548  Wisconsin       Volvo          42

[1549 rows x 3 columns]

In [134]:
state_brand_df=pd.merge(state_brand_df,state_brand_no_df, on=["state", "make"])

In [137]:
state_brand_df["avg_price"]=state_brand_df["sellingprice"]/state_brand_df["units_sold"]

In [138]:
state_brand_df

          state        make  sellingprice  units_sold  avg_price
0       Alabama       Buick        12,700           1     12,700
1       Alabama   Chevrolet        29,600           5      5,920
2       Alabama       Dodge        50,300           4     12,575
3       Alabama        Ford        46,900           6      7,817
4       Alabama    Infiniti        36,300           2     18,150
...         ...         ...           ...         ...        ...
1544  Wisconsin      Subaru     1,126,025          83     13,567
1545  Wisconsin      Suzuki        20,725           5      4,145
1546  Wisconsin      Toyota    11,301,551         849     13,312
1547  Wisconsin  Volkswagen     1,261,401         137      9,207
1548  Wisconsin       Volvo       361,025          42      8,596

[1549 rows x 5 columns]

*Age sale price analysis*

In [188]:
df_cars["vehicle_age"] = (
    df_cars["saledate"].dt.year
    + df_cars["saledate"].dt.month / 12
    + df_cars["saledate"].dt.day / 365
    - df_cars["year"]
).round(3)

In [199]:
g=df_cars.groupby("make")[["vehicle_age","sellingprice"]]

In [112]:
max_rev_per_state=(state_brand_df.loc[state_brand_df.groupby("state")["sellingprice"].idxmax()].reset_index(drop=True))

In [114]:
max_rev_per_state.rename(columns={"sellingprice": "total_sale_amt"}, inplace=True)

In [115]:
max_rev_per_state

             state       make  total_sale_amt
0          Alabama      Dodge          50,300
1          Alberta       Ford       3,294,300
2          Arizona  Chevrolet      16,370,425
3       California        Bmw     123,979,971
4         Colorado       Ford      26,440,356
5          Florida       Ford     147,442,337
6          Georgia       Ford      74,701,568
7           Hawaii       Ford       2,469,400
8         Illinois       Ford      98,432,233
9          Indiana      Honda       7,629,150
10       Louisiana  Chevrolet       4,417,553
11        Maryland       Ford      17,918,725
12   Massachusetts       Ford       6,286,050
13        Michigan       Ford      92,472,825
14       Minnesota       Ford      37,715,285
15     Mississippi       Ford       6,172,200
16        Missouri       Ford      93,527,582
17        Nebraska  Chevrolet      11,726,979
18          Nevada        Bmw      22,709,225
19      New Jersey       Ford      57,292,447
20      New Mexico       Ford         256,250
21        New York       Ford      33,530,826
22  North Carolina  Chevrolet      29,873,903
23     Nova Scotia        Nan         161,100
24            Ohio        Bmw      55,385,300
25        Oklahoma       Ford         169,150
26         Ontario      Dodge      13,163,850
27          Oregon  Chevrolet       2,655,475
28    Pennsylvania       Ford     104,080,005
29     Puerto Rico     Toyota       6,234,600
30          Quebec       Ford       8,426,600
31  South Carolina  Chevrolet       9,000,308
32       Tennessee       Ford      98,666,302
33           Texas       Ford     140,500,857
34            Utah       Ford       7,652,065
35        Virginia       Ford      13,493,700
36      Washington       Ford      17,148,787
37       Wisconsin   Mercedes      19,455,275

          state         make  count
0       Alabama         Ford      6
1       Alabama    Chevrolet      5
2       Alabama        Dodge      4
3       Alabama     Infiniti      2
4       Alabama         Jeep      2
...         ...          ...    ...
1544  Wisconsin         Fiat      6
1545  Wisconsin       Suzuki      5
1546  Wisconsin        Isuzu      4
1547  Wisconsin   Chev truck      1
1548  Wisconsin  Rolls-royce      1

[1549 rows x 3 columns]

In [118]:
state_group=df_cars.groupby("state")

state_rev={x[0]:x[1]["sellingprice"].sum() for x in state_group}

total_state_sale_df=pd.DataFrame(state_rev.items(),columns=["state","total_sales"]).set_index("state").sort_values("total_sales",ascending=False)

no_of_cars={x[0]:x[1]['vin'].count()for x in state_group}

cars_state_df=pd.DataFrame(no_of_cars.items(),columns=["state","no_of_cars"]).set_index("state")

cars_state_df=pd.merge(total_state_sale_df,cars_state_df,on="state")

cars_state_df["avg_val"]=cars_state_df["total_sales"]/cars_state_df["no_of_cars"]

cars_state_df.sort_values("avg_val",ascending=False)

                 total_sales  no_of_cars  avg_val
state
Ontario           61,311,050        3442   17,813
Tennessee        355,114,508       20887   17,002
Pennsylvania     860,898,673       53897   15,973
Colorado         123,406,585        7773   15,876
Nevada           191,337,588       12675   15,096
Michigan         230,847,627       15509   14,885
Illinois         347,247,026       23477   14,791
California     1,059,880,927       73089   14,501
Missouri         231,647,138       16013   14,466
Ohio             309,924,510       21543   14,386
Wisconsin        137,880,166        9849   13,999
Washington       103,419,009        7416   13,945
Florida        1,150,281,156       82919   13,872
Minnesota        129,254,486        9429   13,708
New Jersey       378,102,350       27783   13,609
Quebec            16,549,750        1245   13,293
Texas            606,092,911       45898   13,205
Georgia          448,829,714       34744   12,918
Nebraska          50,356,175        4011   12,555
Hawaii            15,080,050        1237   12,191
Utah              22,152,489        1836   12,066
Oregon            13,350,050        1155   11,558
Arizona          100,737,770        8735   11,533
New York          64,823,485        5699   11,375
Mississippi       20,812,885        1851   11,244
Alberta           10,367,650         928   11,172
Indiana           46,329,050        4323   10,717
Louisiana         23,044,363        2190   10,523
South Carolina    43,818,258        4246   10,320
Nova Scotia          623,000          61   10,213
Puerto Rico       25,644,350        2725    9,411
Alabama              237,700          26    9,142
North Carolina   189,157,093       21842    8,660
Virginia         103,068,020       12023    8,573
Maryland          82,441,725       11150    7,394
Oklahoma             498,100          72    6,918
Massachusetts     45,264,250        6729    6,727
New Mexico         1,075,900         171    6,292

In [93]:
state_players={x[0]:x[1]["make"].value_counts() for x in state_group}

In [94]:
df=pd.DataFrame(state_players)

In [95]:
big_player={}
for col in df.columns:
    big_player[col]={
         "max_brand_by_no": df[col].idxmax(),
        "max_no": df[col].max()
    }

In [98]:
pd.DataFrame(big_player).transpose()

                  idx_max max_no
Alabama              Ford      6
Alberta              Ford    245
Arizona         Chevrolet  1,388
California           Ford  8,904
Colorado             Ford  1,535
Florida              Ford 10,731
Georgia              Ford  5,091
Hawaii               Ford    197
Illinois             Ford  5,717
Indiana         Chevrolet    802
Louisiana            Ford    408
Maryland             Ford  1,686
Massachusetts      Toyota    867
Michigan             Ford  5,578
Minnesota            Ford  2,427
Mississippi          Ford    449
Missouri             Ford  5,457
Nebraska        Chevrolet    870
Nevada               Ford  1,538
New Jersey         Nissan  4,434
New Mexico           Ford     34
New York             Ford  2,095
North Carolina       Ford  3,251
Nova Scotia           Nan     15
Ohio                 Ford  3,407
Oklahoma             Ford     26
Ontario             Dodge    644
Oregon          Chevrolet    221
Pennsylvania         Ford  6,447
Puerto Rico        Toyota    536
Quebec               Ford    417
South Carolina  Chevrolet    764
Tennessee            Ford  5,306
Texas                Ford  9,573
Utah                 Ford    484
Virginia             Ford  1,541
Washington           Ford  1,117
Wisconsin       Chevrolet  1,424