In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
df_cars=pd.read_csv("cleaned_data.csv")

*Highest Revenues*

In [3]:
g=df_cars.groupby("make")

In [4]:
ls={x[0]:x[1]['sellingprice'].sum() for x in g}

In [5]:
df_revenues=pd.DataFrame(ls.items(), columns=["make","revenue"]).set_index("make").sort_values("revenue", ascending=False)

In [6]:
df_revenues["revenue"] = df_revenues["revenue"].round(0)
pd.options.display.float_format = '{:,.0f}'.format

In [7]:
df_revenues

                 revenue
make
Ford       1,362,430,882
Chevrolet    721,250,499
Nissan       633,524,255
Toyota       489,089,925
Bmw          445,873,713
...                  ...
Chev truck         2,000
Ford truck         1,450
Daewoo             1,200
Dodge tk             550
Dot                  500

[64 rows x 1 columns]

*Driving factor*

In [8]:
counts={x[0]:x[1]['vin'].count() for x in g}

In [9]:
sale_df=pd.DataFrame(counts.items(),columns=["make","sale(no of cars)"]).set_index("make")

In [10]:
driving_df=pd.merge(df_revenues,sale_df,on="make")

In [11]:
driving_df

                 revenue  sale(no of cars)
make
Ford       1,362,430,882             93988
Chevrolet    721,250,499             60536
Nissan       633,524,255             54001
Toyota       489,089,925             39966
Bmw          445,873,713             20772
...                  ...               ...
Chev truck         2,000                 1
Ford truck         1,450                 3
Daewoo             1,200                 3
Dodge tk             550                 1
Dot                  500                 1

[64 rows x 2 columns]