In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [13]:
df_cars=pd.read_csv("cleaned_data.csv")

In [14]:
pd.options.display.float_format = '{:,.0f}'.format

In [15]:
state_brand_df=df_cars.groupby(["state", "make"],as_index=False)["sellingprice"].mean()
state_brand_no_df=(df_cars.groupby(["state","make"],as_index=False).size().rename(columns={"size": "units_sold"}))
state_brand_df=pd.merge(state_brand_df,state_brand_no_df, on=["state", "make"])
#state_brand_df["avg_price"]=state_brand_df["sellingprice"]/state_brand_df["units_sold"]
state_brand_df=state_brand_df.sort_values("units_sold", ascending=False)

In [16]:
max_rev_per_state=(state_brand_df.loc[state_brand_df.groupby("state")["sellingprice"].idxmax()].reset_index(drop=True))

In [17]:
max_rev_per_state.rename(columns={"sellingprice": "total_sale_amt"}, inplace=True)

In [18]:
max_rev_per_state

             state          make  total_sale_amt  units_sold
0          Alabama        Toyota          28,700           1
1          Alberta           Ram          25,892          20
2          Arizona       Bentley          44,500           1
3       California   Rolls-royce         152,192          13
4         Colorado           Ram          28,805         129
5          Florida   Rolls-royce         160,333           3
6          Georgia       Bentley         102,200           5
7           Hawaii    Land rover          37,625           2
8         Illinois         Tesla          63,050           2
9          Indiana         Acura          25,702          24
10       Louisiana       Porsche          35,360           5
11        Maryland           Ram          23,313          26
12   Massachusetts    Land rover          18,544           9
13        Michigan    Land rover          32,139          18
14       Minnesota           Ram          25,282         128
15     Mississippi       Bentley          39,250           1
16        Missouri        Fisker          51,000           1
17        Nebraska    Land rover          24,700           8
18          Nevada         Tesla          76,438           4
19      New Jersey       Bentley          54,750           1
20      New Mexico      Mercedes          38,500           1
21        New York           Ram          21,488          24
22  North Carolina      Maserati          42,675           2
23     Nova Scotia      Chrysler          22,950           2
24            Ohio       Bentley          47,500           1
25        Oklahoma         Lexus          19,400           1
26         Ontario           Ram          30,178          23
27          Oregon           Ram          25,170          23
28    Pennsylvania   Lamborghini         116,000           1
29     Puerto Rico      Mercedes          20,353          59
30          Quebec           Ram          22,790          10
31  South Carolina           Ram          22,131          35
32       Tennessee         Tesla          81,500           1
33           Texas         Tesla          72,500           3
34            Utah      Infiniti          21,946          14
35        Virginia           Ram          26,535          97
36      Washington  Aston martin          41,500           1
37       Wisconsin   Rolls-royce         149,800           1

In [19]:
state_group=df_cars.groupby("state")

state_rev={x[0]:x[1]["sellingprice"].sum() for x in state_group}

total_state_sale_df=pd.DataFrame(state_rev.items(),columns=["state","total_sales"]).set_index("state").sort_values("total_sales",ascending=False)

no_of_cars={x[0]:x[1]['vin'].count()for x in state_group}

cars_state_df=pd.DataFrame(no_of_cars.items(),columns=["state","no_of_cars"]).set_index("state")

cars_state_df=pd.merge(total_state_sale_df,cars_state_df,on="state")

cars_state_df["avg_val"]=cars_state_df["total_sales"]/cars_state_df["no_of_cars"]

cars_state_df.sort_values("avg_val",ascending=False)

                 total_sales  no_of_cars  avg_val
state
Ontario           61,311,050        3442   17,813
Tennessee        355,114,508       20887   17,002
Pennsylvania     860,898,673       53897   15,973
Colorado         123,406,585        7773   15,876
Nevada           191,337,588       12675   15,096
Michigan         230,847,627       15509   14,885
Illinois         347,247,026       23477   14,791
California     1,059,880,927       73089   14,501
Missouri         231,647,138       16013   14,466
Ohio             309,924,510       21543   14,386
Wisconsin        137,880,166        9849   13,999
Washington       103,419,009        7416   13,945
Florida        1,150,281,156       82919   13,872
Minnesota        129,254,486        9429   13,708
New Jersey       378,102,350       27783   13,609
Quebec            16,549,750        1245   13,293
Texas            606,092,911       45898   13,205
Georgia          448,829,714       34744   12,918
Nebraska          50,356,175        4011   12,555
Hawaii            15,080,050        1237   12,191
Utah              22,152,489        1836   12,066
Oregon            13,350,050        1155   11,558
Arizona          100,737,770        8735   11,533
New York          64,823,485        5699   11,375
Mississippi       20,812,885        1851   11,244
Alberta           10,367,650         928   11,172
Indiana           46,329,050        4323   10,717
Louisiana         23,044,363        2190   10,523
South Carolina    43,818,258        4246   10,320
Nova Scotia          623,000          61   10,213
Puerto Rico       25,644,350        2725    9,411
Alabama              237,700          26    9,142
North Carolina   189,157,093       21842    8,660
Virginia         103,068,020       12023    8,573
Maryland          82,441,725       11150    7,394
Oklahoma             498,100          72    6,918
Massachusetts     45,264,250        6729    6,727
New Mexico         1,075,900         171    6,292

In [20]:
state_players={x[0]:x[1]["make"].value_counts() for x in state_group}

In [21]:
df=pd.DataFrame(state_players)

In [22]:
big_player={}
for col in df.columns:
    big_player[col]={
         "max_brand_by_no": df[col].idxmax(),
        "max_no": df[col].max()
    }

In [23]:
big_player_df=pd.DataFrame(big_player).transpose()